@import "../../styles/theme";
@import "../../styles/breakpoints";

.tabs {
  border: none;
  padding-bottom: 1rem;
  .tab {
    border: none;
    color: black;
  }
  .activeTab {
    color: $primary-color !important;
    border-bottom: 2px solid $primary-color !important;
  }
}

.aboutStack {
  padding-top: 1rem;
  .title {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    color: #5b6670;
  }

  .description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    color: #5b6670;
  }

  .button {
    width: 268px;
    height: 40px;
    background: $primary-color;
    border-width: 0;
    border-radius: 45px;
  }
}

.authorStack {
  align-items: flex-start;
  .image {
    width: 69px;
    height: 69px;
    border-radius: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .name {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: $primary-color;
  }
  .specialization {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: black;
    opacity: 0.4;
    margin-top: 0.5rem;
  }
  .quote {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-left: 2px solid $primary-color;
    padding-left: 1rem;
    margin-top: 1rem;
  }
  @include respond-to("medium") {
    margin-top: 3rem;
  }
}

.additional {
  .image {
    height: 640px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
