@import "../../styles/theme";

.mainTitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
}

.cards {
  display: flex;
  padding: 2.5rem 0 0;
  .card {
    height: 300px;
    width: 268px;
    margin-right: 1rem;
    border: 1px solid #d8e3ec;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all 0.15s ease-in-out 0s;

    .thumbnail {
      position: relative;

      .progress {
        position: absolute;
        left: 1em;
        bottom: 1rem;
        padding: 0.28rem 7px 0.15rem;
        height: auto;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        font-size: 14px;
        line-height: 1;
        font-family: Roboto-Light, sans-serif;
        border-radius: 4px;
      }

      .wish {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        font-weight: bold;

        &::before {
          content: "♡";
          position: absolute;
          left: 20%;
          top: 10%;
        }
      }
    }

    .title {
      font-size: 18px;
      font-weight: 400;
      line-height: 21px;
      color: black;

      max-height: 45px;
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
    .author {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      opacity: 0.4;
      padding: 8px 0 6px;
    }
    .price {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .new {
        color: $primary-color;
      }
      .old {
        font-size: 14px;
        opacity: 0.4;
        text-decoration: line-through;
      }
    }
    &:hover {
      box-shadow: 0 0 10px #00000033;
    }
  }
}
