@import "../../styles/theme";

.supenseContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .spinner-border {
    border: 0.25em solid $primary-color;
    border-right-color: white;
    width: 3rem;
    height: 3rem;
  }
}
