$dark-theme: false !default;
$primary-color: #01acb7 !default;
$accent-color: #eb5757 !default;

@if $dark-theme {
  $primary-color: lighten($primary-color, 90%);
  $accent-color: darken($accent-color, 40%);
}