@import "../../../styles/breakpoints";
@import "../../../styles/theme";

.header {
  min-height: 80px;
  font-weight: 300;
  border-bottom: 1px solid #dadada;
}

.leftMenu,
.rightMenu {
  a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    color: #000 !important;
    transition: all 0.3s ease-in-out 0s;

    &:hover {
      color: $primary-color !important;
    }
  }
}

.leftMenu {
  @include respond-to("medium") {
    width: 100%;
    margin-top: 1rem;
  }
}

.rightMenu {
  @include respond-to("small") {
    width: 100%;
    margin-top: 1rem;
    div {
      justify-content: space-around;
    }
  }
}

.dropdown {
  div {
    min-width: unset;
    position: absolute !important;
  }
}

.globeIcon {
  margin-right: 0.5rem;
}

.loginButton {
  width: 100px;
  height: 40px;
  color: $primary-color;

  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 45px;
  border-color: $primary-color;

  &:hover {
    background-color: $primary-color;
    border-color: $primary-color;
    color: white;
  }
}
