@import "../../../styles/breakpoints";

.videoSelector {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  border: 1px solid #d8e3ec;
  box-sizing: border-box;
  border-radius: 5px;
  max-height: 432px;

  .videoItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: none;
    color: #5b6670;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    .active {
      background-color: #b0b0b0;
    }

    &::before {
      align-self: center;
    }

    &::after {
      content: "";
      width: 85%;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #d8e3ec;
      position: absolute;
      bottom: 0;
      left: 2rem;
    }
    @include respond-to("medium") {
      &::after {
        width: 90%;
      }
    }

    .vidImage {
      padding-left: 0.5rem;
      // width: 100px;
    }

    .vidDescription {
      display: flex;
      height: 55px;
      padding-left: 0.5rem;
      flex-direction: column;
      justify-content: space-between;

      .name {
        max-height: 32px;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
      .time {
        color: #b0b0b0;
      }
    }
  }
}
