// .videoViewer {
//    max-height: 432px;
// }
.tagsList {
  .tag {
    padding-left: 0;
  }
}

.tag,
.count,
.lang {
  border: none;
  font-size: 14px;
  color: #5b6670;
}

.videoSelectorInfo {
  justify-content: space-between;
  div {
    padding-left: 0;
    padding-right: 0;
  }
}
