@import "../../styles/theme";

.footer {
  border-top: 1px solid #e7e7e7;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 5.2em 0 1em;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url("../../assets/images/footer.jpg") no-repeat center;
  background-size: cover;

  .menu {
    text-align: left;
    div {
      background-color: transparent;
      color: rgba(255, 255, 255, 0.8);
      border: none;
    }
    .left {
      text-align: left;
      .logo {
        color: white;
        font-size: 24px;
        font-weight: 300;
        line-height: 28px;
      }
      .slogan {
        text-align: left;
        padding-top: 0.6em;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }
    }

    .center,
    .right {
      div {
        transition: all 0.3s ease-in-out 0s;
        cursor: pointer;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  .actions {
    div {
      background-color: transparent;
      color: rgba(255, 255, 255, 0.8);
      border: none;
    }

    button {
      width: 190px;
      height: 50px;
      text-transform: uppercase;
      color: $primary-color;
      background-color: transparent;
      border-radius: 45px;
      border-color: $primary-color;

      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }
  .line {
    display: block;
    width: 100%;
    height: 1px;
    border-top: 1px solid rgba(228, 241, 253, 0.2);
    opacity: 0.5;
  }
  .bottom {
    padding: 1.5rem 0;
    div {
      background-color: transparent;
      color: rgba(255, 255, 255, 0.8);
      border: none;
    }
  }
}
